<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.mitre.eren.editor.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ERENEditor"
            class="org.mitre.eren.editor.application.Perspective"
            id="ERENEditor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.mitre.eren.editor.commands.ExitHandler"
            id="org.mitre.eren.editor.commands.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="org.mitre.eren.editor.commands.ImportProjectHandler"
            id="org.mitre.eren.editor.commands.ImportProjectHandler"
            name="Import">
      </command>
      <command
            defaultHandler="org.mitre.eren.editor.commands.SaveProjectHandler"
            id="org.mitre.eren.editor.commands.SaveProjectHandler"
            name="Save">
      </command>
      <command
            defaultHandler="org.mitre.eren.editor.commands.ImportFolderHandler"
            id="org.mitre.eren.editor.commands.ImportFolderHandler"
            name="Save">
      </command>
      <!-- <command
            defaultHandler="org.mitre.eren.editor.commands.NewProjectHandler"
            id="org.mitre.eren.editor.commands.NewProjectHandler"
            name="New">
      </command> -->
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
          <!--  <command
                  commandId="org.mitre.eren.editor.commands.NewProjectHandler"
                  label="New"
                  style="push">
            </command> -->
            <command
                  commandId="org.mitre.eren.editor.commands.ImportProjectHandler"
                  label="Import Project"
                  style="push">
            </command>
            <command
                  commandId="org.mitre.eren.editor.commands.ImportFolderHandler"
                  label="Import Folder"
                  style="push">
            </command>
            <command
                  commandId="org.mitre.eren.editor.commands.SaveProjectHandler"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.mitre.eren.editor.commands.Exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.mitre.eren.editor.views.ScenarioTreeView"
            id="org.mitre.eren.editor.views.ScenarioTreeView"
            name="Directory"
            restorable="true">
      </view>
      <view
            class="org.mitre.eren.editor.views.MapView"
            id="org.mitre.eren.editor.views.MapView"
            name="Maps"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.mitre.eren.editor.views.ScenarioTreeView"
               minimized="false"
               ratio="0.30f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mitre.eren.editor.views.editors.ScenarioFormEditor"
            default="false"
            id="org.mitre.eren.editor.views.editors.ScenarioFormEditor"
            name="ScenarioEditor">
      </editor>
      <editor
            class="org.mitre.eren.editor.views.editors.DlgEditor"
            default="false"
            id="org.mitre.eren.editor.views.editors.DlgEditor"
            name="DialogEditor">
      </editor>
      <editor
            class="org.mitre.eren.editor.views.editors.ActEditor"
            default="false"
            id="org.mitre.eren.editor.views.editors.ActEditor"
            name="DialogEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="ERENEditor.application"
            name="ERENEditor">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.mitre.eren.editor.commands.ImportProjectHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="ERENEditorScheme"
            sequence="M1+O">
      </key>
      <key
            commandId="org.mitre.eren.editor.commands.SaveProjectHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="ERENEditorScheme"
            sequence="M1+S">
      </key>
      <key
            commandId="org.mitre.eren.editor.commands.ImportFolderHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="ERENEditorScheme"
            sequence="M1+I">
      </key>
   <!--   <key
            commandId="org.mitre.eren.editor.commands.NewProjectHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="ERENEditorScheme"
            sequence="M1+N">
      </key> -->
      <scheme
            id="ERENEditorScheme"
            name="ERENEditorScheme">
      </scheme>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ERENEditor.application"
            name="ERENEditor">
         <property
               name="ERENEditor"
               value="ERENEditor">
         </property>
         <property
               name="appName"
               value="ERENEditor">
         </property>
      </product>
   </extension>

</plugin>
